{
  "$schema": "../gen/schemas/mobile-schema.json",
  "identifier": "mobile-capability",
  "description": "Capability for the main window with selected plugins",
  "windows": ["main"],
  "platforms": ["iOS", "android"],
  "permissions": {{ capabilities | tojson(indent=2) }}
}
