<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
{% if has_nfc %}
    <key>com.apple.developer.nfc.readersession.formats</key>
    <array>
        <string>TAG</string>
    </array>
{% endif %}
{% if has_deep_link and deep_link_host %}
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:{{ deep_link_host }}</string>
    </array>
{% endif %}
</dict>
</plist>
